/*
GLOBAL
estilos globales, aca ira los selectores de 
etiquetas globales
*/
body {
  font-size: 16px;
  font-family: arial;
}

h1 {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 60px;
}

p {

  font-size:16px;
  font-family: arial;
  margin-left: 20px;
  margin-right: 20px;
}
/*HEADER
aca iran estilos del header
*/
nav {
  
  
  background-color:#00AF1C;
  display: flex;
  justify-content:space-between
  
}

.logo {
  font-size: 32px;
  color: #fff;
  margin-top: 20px;
  margin-left: 20px;
}

.ul .li a {
  color: white;
  text-decoration: none;
  font-size:20px;
  
}

.ul .li {
  padding: 20px;
}

.ul {
  display: flex;
  margin-top: 10px;
  font-size: 16px;
  
}

/*
HOME
aca iran estilos de la seccion home*/

.home {
  color: #3B06D2;
  font-size: 24px;
  
}

.section .imagenes {
  margin-left: 20px;  
  margin-top: 30px;  
  margin-right: 20px;
}
.imagenes {
  display: flex;
  justify-content:space-between
  
}



/*
SERVICIOS
aca iran estilos de la seccion servicios*/

.servicios {
  color: #D206B2;
  font-size: 24px;
  
}

.lista {
  margin-top:40px;
  margin-left: 20px;
  font-size:18px;
}

.lista .item {

  margin-top:20px;
}

.lista ol li:nth-child(1) {
  color: red;
}

.lista ol li:nth-child(2) {
  color: blue;
}

.lista ol li:nth-child(3) {
  color: yellow;
}

.lista ol li:nth-child(4) {
  color: cyan;
}

/*
PORTAFOLIO
aca iran estilos de la seccion portafolio*/
.portafolio {
  color: #D206B2;
  font-size: 24px;
  
}

.lista {
  margin-top:40px;
  margin-left: 20px;
  font-size:18px;
}

.lista .item {

  margin-top:20px;
}

.lista ol li:nth-child(1) {
  color: red;
}

.lista ol li:nth-child(2) {
  color: blue;
}

.lista ol li:nth-child(3) {
  color: yellow;
}

.lista ol li:nth-child(4) {
  color: cyan;
}



/*
CONTACTO
aca iran estilos de la seccion contacto*/
.contacto {

  font-size:24px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left:20px;
  color: #06D2C6;
}

button {
  
  
  width: 195px;
  height: 73px;
  left: 40px;
  top: 2574px;

  border: 1px solid #22A900;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left:20px;
  
  
}

.in1 {
  width: 1339px;
  height: 88px;
  left: 38px;
  top: 2195px;



  font-size:24px;
  color:#000000;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left:20px;
  margin-right:20px;

  border: 1px solid #000000;
  box-sizing: border-box;
}

.in2 {
  width: 1339px;
  height: 214px;
  left: 38px;
  top: 2323px;
  font-size:24px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left:20px;

  border: 1px solid #000000;
  box-sizing: border-box;
}

/*
FOOTER
aca iran estilos de la seccion footer*/
footer {
  padding: 40px;
  margin-top: 20px;
  background-color:#00AF1C;
  display: flex;
  justify-content:space-between
  

}
.fot {
  color: white;
  font-size: 24px;
}

